<a href="https://colab.research.google.com/github/eslemnurdogan/data_visu/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df = pd.read_csv('/content/Market_Basket_Optimisation.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['Transactions']= df.values.tolist()
df['Transactions'] = df['Transactions'].apply(lambda x: [i for i in x if str(i) != "nan"])
df['Transactions']

0       [shrimp, almonds, avocado, vegetables mix, gre...
1                              [burgers, meatballs, eggs]
2                                               [chutney]
3                                       [turkey, avocado]
4       [mineral water, milk, energy bar, whole wheat ...
                              ...
7496                    [butter, light mayo, fresh bread]
7497    [burgers, frozen vegetables, eggs, french frie...
7498                                            [chicken]
7499                                [escalope, green tea]
7500    [eggs, frozen smoothie, yogurt cake, low fat y...
Name: Transactions, Length: 7501, dtype: object

In [5]:
transactions= list(df['Transactions'])
transactions.count(['burgers','meatballs','eggs'])

1

In [6]:
from itertools import permutations

In [7]:
unique_items = [item for transaction in transactions for item in transaction]

In [8]:
unique_item_list=list(set(unique_items))
rules= list(permutations(unique_item_list,2))
print(len(rules))

14280

In [9]:
from mlxtend.preprocessing import TransactionEncoder
encoder = TransactionEncoder().fit(transactions)
onehot=encoder.transform(transactions)
onehot=pd.DataFrame(onehot,columns=encoder.columns_)

In [10]:
print(onehot.mean())

 asparagus           0.000133
almonds              0.020397
antioxydant juice    0.008932
asparagus            0.004666
avocado              0.033329
                       ...
whole wheat pasta    0.029463
whole wheat rice     0.058526
yams                 0.011465
yogurt cake          0.027330
zucchini             0.009465
Length: 120, dtype: float64

In [11]:
onehot['eggs_&_ground beef'] = np.logical_and(onehot['eggs'],onehot['ground beef'])
print(onehot['eggs_&_ground beef'].mean())

0.019997333688841486

In [12]:
onehot=onehot.drop('eggs_&_ground beef', axis=1)

In [13]:
onehot.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [22]:
sup_eggs_groundbeef=np.logical_and(onehot['eggs'],onehot['ground beef']).mean()
sup_eggs=onehot['eggs'].mean()
sup_groundbeef=onehot['ground beef'].mean()
print(sup_eggs_groundbeef)
#destek

0.019997333688841486

In [21]:
conf_eggs_to_groundbeef = sup_eggs_groundbeef/sup_eggs
conf_eggs_to_groundbeef/sup_eggs
print(conf_eggs_to_groundbeef)
#güven

0.11127596439169138

In [25]:
lift_eggs_to_groundbeef=conf_eggs_to_groundbeef/sup_groundbeef
print(lift_eggs_to_groundbeef)

1.132538682363741

In [27]:
frequent_itemsets=apriori(onehot,min_support=0.0005,
                          max_len=4,use_colnames=True)

In [28]:
print(len(frequent_itemsets))

19788

In [29]:
print(frequent_itemsets.head())

    support             itemsets
0  0.020397            (almonds)
1  0.008932  (antioxydant juice)
2  0.004666          (asparagus)
3  0.033329            (avocado)
4  0.004533        (babies food)

In [31]:
Rules= association_rules(frequent_itemsets,
                       metric="support",
                       min_threshold= 0.005)

In [42]:
Rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(burgers),0.020397,0.087188,0.005199,0.254902,2.923577,0.003421,1.225089
1,(burgers),(almonds),0.087188,0.020397,0.005199,0.059633,2.923577,0.003421,1.041724
2,(chocolate),(almonds),0.163845,0.020397,0.005999,0.036615,1.795099,0.002657,1.016834
3,(almonds),(chocolate),0.020397,0.163845,0.005999,0.294118,1.795099,0.002657,1.184553
4,(almonds),(eggs),0.020397,0.179709,0.006532,0.320261,1.782108,0.002867,1.206774
...,...,...,...,...,...,...,...,...,...
1935,"(olive oil, spaghetti)",(pancakes),0.022930,0.095054,0.005066,0.220930,2.324260,0.002886,1.161572
1936,"(pancakes, spaghetti)",(olive oil),0.025197,0.065858,0.005066,0.201058,3.052910,0.003407,1.169224
1937,(olive oil),"(pancakes, spaghetti)",0.065858,0.025197,0.005066,0.076923,3.052910,0.003407,1.056037
1938,(pancakes),"(olive oil, spaghetti)",0.095054,0.022930,0.005066,0.053296,2.324260,0.002886,1.032075
1939,(spaghetti),"(olive oil, pancakes)",0.174110,0.010799,0.005066,0.029096,2.694478,0.003186,1.018846

In [52]:
kuralkoydum=[ (Rules['lift'] >= 1) &
        (Rules['confidence'] >= 0.2)]

In [53]:
kuralkoydum

[0        True
 1       False
 2       False
 3        True
 4        True
         ...
 1935     True
 1936     True
 1937    False
 1938    False
 1939    False
 Length: 1940, dtype: bool]